# Arquivos do Android Studio / IntelliJ
.idea/
*.iml
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Pastas de Compilação (BUILD) - MUITO IMPORTANTE IGNORAR
.gradle/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/

# Arquivo de configuração local (SDK Path)
# Cada computador tem um caminho diferente para o Android SDK
local.properties

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
*.log

# Outros
*.bak
*.tmp
